<div *ngIf="(paramObservable$ | async) as data" class="search-body">
  <div *ngFor="let item of data.playlists.items">
    <app-card-square [dataPlayList]="item"></app-card-square>
  </div>
</div>
<!-- 
<div *ngIf="playlists" class="search-body">
  <div *ngFor="let item of playlists">
    <app-card-square [dataPlayList]="item"></app-card-square>
  </div>
</div> -->