.content-playlist {
  color: #b3b3b3;
  display: block;
  margin-inline: 20px;
  margin-top: 10px;
  .play-list {
    margin-top: 20px;
    padding-left: 5px;
    .list {
      padding-block: 5px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:is(:hover, :focus) {
        color: white;
      }
    }
  }
}
