.media-player {
  background-color: #121212;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: white;
}

.media-player .media-player--wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0;
}

.media-player .media-player--wrapper .player-center {
  display: flex;
  align-content: center;
  align-items: center;
}

.media-player--wrapper .artist {
  width: 25%;
  padding: 0 .5rem;
}

.media-player--wrapper .player-audio {
  width: 25%;
  padding: 0 .5rem;
}

.media-player--wrapper .player-controls {
  width: 50%;
  padding: 0 .5rem;
}

.media-player--wrapper .artist .artist-inside {
  display: flex;
  gap: .5rem
}

.media-player--wrapper .artist .track-like {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 .25rem;
}

.media-player--wrapper .artist .track-like .btn-like {
  border: 0;
  background-color: transparent;
  color: white;
  font-size: 20px;
  opacity: .7;
}

.media-player--wrapper .artist .artist-inside .track-info {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.media-player--wrapper .artist .artist-inside .track-title {
  margin: 0;
  font-weight: 400;
  font-size: .8rem;
}

.media-player--wrapper .artist .artist-inside .sub-title {
  margin: 0;
  font-weight: 300;
  font-size: 80%;
  opacity: .6;
}

.media-player--wrapper .artist .artist-inside .cover {
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.media-player--wrapper .player-controls-inside {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: relative;
}

.media-player--wrapper .player-controls-inside .buttons-media {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: .5rem
}

.media-player--wrapper .player-controls-inside .buttons-media .btn {
  background-color: transparent;
  border: 0;
  color: white;
  opacity: .7;
  font-size: 1.65rem
}

.media-player--wrapper .player-controls-inside .buttons-media .play {
  font-size: 2.35rem;
}

.media-player--wrapper .player-controls-inside .media-linetime {
  display: flex;
  justify-content: space-between;
  font-size: 70%;
  padding: 0;
}

.media-player--wrapper .player-controls-inside .media-linetime .time {
  padding: .5rem 0;
}

.media-player--wrapper .player-controls-inside .media-linetime .time-progress {
  background-color: rgb(215, 218, 251);
  height: 5px;
  width: 100%;
  left: 0;
  position: absolute;
  cursor: pointer;
}
//esta clase se encargara de actualizar cada vez que el current time se actualice
.media-player--wrapper .player-controls-inside .media-linetime .time-progress-live {
  background-color: rgb(58, 102, 245);
  //le colocamos 0% porque cada vez se actualizara en el servicio multimedia
  width: 0%;
  height: 5px;
  transition: all ease 0.3;
  position: absolute;
}

.media-player--wrapper .player-audio-inside {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.media-player--wrapper .player-audio-inside .btn-media {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 24px;
}