<nav class="top__links">
  <div class="logo">
    <img src="../../../../assets/img/spotify-logo.png" alt="spotify" />
  </div>
  <ul>
    <li>
      <i class="uil uil uil-estate"></i>
      <span>home</span>
    </li>
    <li [routerLink]="['/home/search']">
      <i class="uil uil-search"></i>
      <span >Buscar</span>
    </li>
    <li>
      <i class="uil uil-chart"></i>
      <span>Tu biblioteca</span>
    </li>
  </ul>
</nav>
