<section class="section-playlist">
  <app-play-list-header  [dataPlayList]="dataPlaylist"></app-play-list-header>
  <app-play-list-body [dataPlayList]="dataPlaylist.tracks?.items"></app-play-list-body>
</section>
