// .section-playlist {
//   padding-bottom: 10px;
// }
// .section-playlist {
//   height: 65vmax;
//   overflow-y: scroll;
//   padding-bottom: 10px;
// }
// .section-playlist::-webkit-scrollbar {
//   width: 5px;
// }

// .section-playlist::-webkit-scrollbar-track {
//   background-color: transparent;
// }

// .section-playlist::-webkit-scrollbar-thumb {
//   background-color: blue;
//   border-radius: blue;
// }