<section class="search-section">
  <app-search (search)="handleSearch($event)"></app-search>
  <div class="search-body">
    <router-outlet></router-outlet>
  </div>
</section>

<!-- 
  resolver in angular 
  https://www.youtube.com/watch?v=GrZjoscmswg
  https://www.youtube.com/watch?v=wLSenDnk1Ds

-->
