<div class="card-square">
  <div class="card-wrapper">
    <!-- seccion de imagen -->
    <div class="card-image">
      <!-- imagen -->
      <div class="image-wrapper">
        <!-- TODO:siempre poner el simbolo ? cuando no temos claro si existira la imagen -> dataPlayList?.images[0]?images[0]?-->
        <img class="img-square" [src]="dataPlayList?.images[0]?.url" alt="" />
        <!-- <img class="img-square" [ngSrc]="dataPlayList.images[0].url" width="10" height="10" alt="" /> -->
        <!-- <img class="img-square" appNotImages [urlImg]="dataPlayList.images[0].url" alt="" /> -->
      </div>
      <!-- en estado hover muestra el boton play -->
      <div class="card-hover">
        <button class="btn-play">
          <span class="span-wrapper">
            <div class="play-wrapper">
              <!-- <img src="" alt=""> -->
              <i class="uil uil-play"></i>
            </div>
          </span>
        </button>
      </div>
    </div>
    <!-- seccion de texto -->
    <div class="card-info">
      <div class="card-info-wrapper">
        <span class="card-title">{{ dataPlayList.name }}</span>
      </div>
      <div class="subtitle-wrapper">
        <span class="card-subtitle" *ngIf="dataPlayList?.owner">{{ dataPlayList?.owner?.display_name }}</span>
        <span class="card-subtitle" *ngIf="dataPlayList?.artists">{{ dataPlayList?.artists[0]?.name }}</span>
        <span class="card-subtitle" *ngIf="dataPlayList?.publisher">{{ dataPlayList?.publisher }}</span>
        <span class="card-subtitle" *ngIf="dataPlayList?.description">{{ dataPlayList?.description }}</span>
      </div>
    </div>
  </div>
</div>
