.card-square {
  background-color: #181818;
  border-radius: 10px;
  padding: 16px;
  transition: #363434 0.3s ease;
  width: 100%;
  &:is(:hover, :focus) {
    background-color: #282828;
  }
}

.card-wrapper {
  height: 100%;
}

.card-image {
  margin-bottom: 16px;
  position: relative;
}

.image-wrapper {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.img-square {
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.card-info {
  min-height: 62px;
}

.card-info-wrapper {
  padding-block-end: 5px;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.card-subtitle {
  color: #a7a7a7;
}

.card-hover {
  position: absolute;
  right: 8px;
  bottom: 8px;
  opacity: 0;
  transform: translateY(8px);
  transition: all 0.3s ease;
  z-index: 2;
}

.span-wrapper {
  background-color: green;
  border-radius: 500px;
  font-size: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.play-wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-square:hover .card-hover {
  transform: translateY(0px);
  opacity: 1;
}

.subtitle-wrapper {
  overflow: auto;
}