.playlist-body {
  background-color: #121212 ;
  padding-inline: 32px;
  color: white;
  font-size: 14px;
  table {
    width: 100%;
    .thead {
      color: #b3b3b3;
      .table-title {
        padding-block: 10px;
      }
      .uil {
        font-size: 20px;
      }
    }
    .data-table {
      padding-block: 8px;
      .wrapper-data {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

.row-table:hover {
  background-color: #1d1a1a;
}

.btn-like {
  border: 0;
  background-color: transparent;
  color: greenyellow;
  font-size: 20px;
  opacity: .7;
}