<!-- <div *ngIf="(paramObservable$ | async) as data" class="search-body">
  <div *ngFor="let item of data?.albums?.items">
    <app-card-square [dataPlayList]="item"></app-card-square>
  </div>
</div> -->

<div *ngIf="artists" class="search-body">
  <div *ngFor="let item of artists">
    <app-card-circle [data]="item"></app-card-circle>
  </div>
</div>