<div class="search-component">
  <i class="uil uil-search"></i>
  <input
    type="text"
    [formControl]="search"
    placeholder="¿Que te apetece escuchar?"
  />
</div>

<div class="btn-group" *ngIf="isEmptySearch">
  <!-- <button
    class="btn btn-search"
    routerLinkActive="active"
    [routerLink]="[data]"
    (click)="goRoute('album,artist,playlist,track,show,episode,audiobook')"
  >
    Todo
  </button> -->
  <ng-container *ngFor="let itemButton of buttonGroup">
    <button
      class="btn btn-search"
      [ngClass]="{ active: itemButton.param === '' && data !== '' }"
      routerLinkActive="active"
      [routerLink]="[data, itemButton.route]"
      (click)="goRoute(itemButton.search)"
    >
      {{ itemButton.name }}
    </button>
  </ng-container>
</div>
