.search-component {
  padding: 0 1.5rem;
  background-color: white;
  max-width: 360px;
  display: flex;
  // gap: 8px;
  align-items: center;
  border-radius: 500px;
  i {
    font-size: 24px;
  }
}

.search-component input {
  border: 0;
  border-radius: 3rem;
  height: 40px;
  width: 20rem;
  padding: 0 0.75rem;
  font-size: 90%;
}

.btn-group {
  margin-block: 10px;
}

.btn {
  border: none;
  padding: 5px 15px;
  margin: 0 10px 10px 0;
}

.btn-search {
  color: white;
  background-color: #232323;
  border-radius: 500px;
  //para el activate router
  // &:is(:hover, :focus) {
  //   background-color: white;
  //   color: #232323;
  // }
}

.flex {
  display: flex;
}

.active {
  background-color: white;
    color: #232323;
}
