// https://blog.angular-university.io/angular-host-context/
// https://angular-book.dev/ch05-09-host.html
.content {
  background-color: black;
  width: 100vw;
  height: 100vh;

  .login-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    img {
      width: 40%;
    }

    button {
      font-size: 1.5rem;
      min-width: 12.5rem;
      padding: 20px;
      border-radius: 500px;
      background-color: green;
      color: white;
      border: 0;
      cursor: pointer;
    }
  }
}
