<div class="content">
  <div class="login-wrapper">
    <img src="../../../../../assets/img/spotify-logo-inicio.png" alt="">
    <button (click)="abrirPaginaLogin()">
      abrir spotify
    </button>
  </div>
</div>

