<section class="spotify__body">
  <section class="sidebar">
    <app-side-bar></app-side-bar>
    <app-play-list-sidebar
      [itemListSide]="items"
      (onItemLink)="itemLinkTracksMusic($event)"
    >
    </app-play-list-sidebar>
  </section>
  <section class="body">
    <!-- <app-header-user></app-header-user> -->
    <section class="body__content">
      <router-outlet></router-outlet>
    </section>
  </section>
</section>
<section class="spotify__footer">
  <!-- <app-footer></app-footer> -->
  <app-media-player></app-media-player>
</section>
