:host {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 90vh 10vh;
  .spotify__body {
    display: grid;
    grid-template-columns: 16vw 84vw;
    // background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background: #121212;
    .sidebar {
      background-color: #000;
      width: 100%;
      height: 100%;
    }
    .body {
      width: 100%;
      height: 100%;
      overflow: auto;
      // background-color: #121212;
      padding-bottom: 10px;
      // .body__content {
      //   padding-inline: 15px;
      //   padding-block: 15px;
      // }
      &::-webkit-scrollbar {
        width: 0.7rem;
        max-height: 2rem;
        &-thumb {
          background-color: rgba(255, 255, 255, 0.6);
        }
      }
      
    }
  }
}
