<div
  infinite-scroll
  [scrollWindow]="false"
  [infiniteScrollContainer]="'.body'"
  [fromRoot]="true"
  (scrolled)="onScroll('noooooooo')"
  class="scroll-direc"
>
  <div *ngIf="paramObservable$ | async as data" class="search-body">
    <app-card-square
      *ngFor="let item of data?.albums?.items"
      [dataPlayList]="item"
    ></app-card-square>
  </div>
</div>
