.search-body {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  min-width: 400px;
  margin-top: 20px;
}

// .scroll-direc {
//   height: 100px;
//   overflow: scroll;
// }

@media (min-width: 768px) {
  .search-body {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 992px) {
  .search-body {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .search-body {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}