<div class="card-square">
  <div class="card-wrapper">
    <!-- seccion de imagen -->
    <div class="card-image">
      <!-- imagen -->
      <div class="image-wrapper">
        <!-- TODO:siempre poner el simbolo ? cuando no temos claro si existira la imagen -> data?.images[0]?images[0]?-->
        <img class="img-square" [src]="data?.images[0]?.url" alt="" />
        <!-- <img class="img-square" [ngSrc]="data.images[0].url" width="10" height="10" alt="" /> -->
        <!-- <img class="img-square" appNotImages [urlImg]="data.images[0].url" alt="" /> -->
      </div>
      <!-- en estado hover muestra el boton play -->
      <div class="card-hover">
        <button class="btn-play">
          <span class="span-wrapper">
            <div class="play-wrapper">
              <!-- <img src="" alt=""> -->
              <i class="uil uil-play"></i>
            </div>
          </span>
        </button>
      </div>
    </div>
    <!-- seccion de texto -->
    <div class="card-info">
      <div class="card-info-wrapper">
        <span class="card-title">{{ data?.name }}</span>
      </div>
      <div>
        <span class="card-subtitle">{{ data?.type }}</span>
      </div>
    </div>
  </div>
</div>
