.all-section {
  display: flex;
  color: white;
  gap: 10px;
}

.result-primary, .result-secondary {
  padding: 20px;
  background-color: #181818;
  border-radius: 20px;
  min-width: 320px;
}

.wrapper-result {
  margin-top: 10px;
}

.result-secondary {
  width: 100%;
}

table {
  width: 100%;
  .thead {
    color: #b3b3b3;
    .table-title {
      padding-block: 10px;
    }
    .uil {
      font-size: 20px;
    }
  }
  .data-table {
    padding-block: 8px;
    .wrapper-data {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.row-table:hover {
  background-color: #1d1a1a;
}

.btn-like {
  border: 0;
  background-color: transparent;
  color: greenyellow;
  font-size: 20px;
  opacity: .7;
}