<section class="all-section" *ngIf="paramObservable$ | async as data">
  <div class="result-primary">
    <h2>Resultado principal</h2>
    <div class="wrapper-result">
      <img [src]="data?.albums?.items[0]?.images[0]?.url" width="92" height="92" alt="">
      <div class="result-info">
        <h2>{{data?.albums?.items[0]?.name}}</h2>
        <P>{{data?.albums?.items[0]?.artists[0].name}}</P>
      </div>
    </div>
  </div>
  
  <div class="result-secondary">
    <h2>canciones</h2>
    <div class="playlist-body">
      <table cellspacing="0">
        <thead class="thead">
          <tr>
            <td class="table-title">#</td>
            <td class="table-title">Titulo</td>
            <!-- <td class="table-title">Album</td> -->
            <td class="table-title"></td>
            <td class="table-title">
              <i class="uil uil-clock-eight"></i>
            </td>
          </tr>
        </thead>
        <tbody class="">
          <tr
            class="row-table"
            *ngFor="let datalist of data?.tracks?.items; let cont = index"
            (dblclick)="enviarDataMusic(datalist, cont)"
          >
            <td class="data-table" (click)="enviarDataMusic(datalist, cont)">
              {{ cont + 1 }}
            </td>
            <td class="data-table">
              <div class="wrapper-data">
                <!-- console.log(resp.tracks?.items![0].track?.album?.images![2].url ); -->
                <img
                  [src]="datalist?.album?.images[0].url"
                  alt=""
                  width="40"
                  height="40"
                />
                <strong class="strong">
                  {{ datalist.name }}
                </strong>
              </div>
            </td>
            <!-- <td class="data-table">
              {{ datalist?.album?.name }}
            </td> -->
    
            <td class="data-table">
              <button class="btn-like">
                <i class="uil uil-heart"></i>
              </button>
            </td>
            <td class="data-table">
              {{ datalist.duration_ms | durationFormat : "hhmmss" }}
            </td>
            <!-- <td class="data-table">{{ datalist.track?.duration_ms  }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
    

  </div>
</section>