.playlist-header {
  background: linear-gradient(transparent 0,rgba(0,0,0,.5) 100%);
  display: flex;
  gap: 20px;
  margin-top: 80px;
  padding-bottom: 20px;
  padding-inline: 32px;
  color: white;
  font-size: 0.88rem;;
  .header-left {
    background-color: black;
  }
  .header-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    .wrapper-title {
      margin: 8px 0px 12px;
    }
    //esto esta en veremos
    .playlist-details {
      display: flex;
      gap: 5px;
    }
  }
}

h1 {
  font-size: 6rem;  
}
