<!-- <div class="playlist-header" *ngIf="dataPlayList?.images?.length>0"> -->
<div class="playlist-header" *ngIf="dataPlayList?.name!=null">
<!-- <div class="playlist-header"> -->
  <div class="header-left">
    <img [src]="dataPlayList?.images[1]?.url" alt="" width="232" height="232" srcset="" />
  </div>
  <!-- {{ dataPlayList?.images[1]?.url }} -->
  <div class="header-right">
    <span class="span-playlist">Lista</span>
    <span class="wrapper-title">
      <h1 class="playlist-title">{{ dataPlayList.name }}</h1>
    </span>
    <div class="playlist-details">
      <span>username</span>
      <span>2</span>
      <span>canciones</span>
      <span>8 min 23 s</span>
    </div>
  </div>
</div>
